<!-- ADD THIS -->
<% session_key_name = Rails.application.config.session_options[:key] %>

<% content_for :head do %>
	<%= stylesheet_link_tag "jcrop" %>
<% end %>

<% content_for :scripts do%>
	<%= javascript_include_tag 'jquery.uploadify.min', 'swfobject', 'pic_handler', 'jcrop.min' %>
	<script type="text/javascript" charset="utf-8">
		$('#upload').uploadify({
	    'uploader'    : '/uploadify/uploadify.swf',
	    'script'      : '/pictures',
	    'multi'       : false,
	    'cancelImg'   : '/images/cancel.png',

			onComplete : function(event, queueID, fileObj, response, data) { 
				$.ajax({
					type: "GET",
					url: "/remote/show_pic/"});
			},
			'scriptData': {
				'_http_accept': 'application/javascript',
				'format': 'json',
				'<%= session_key_name %>' : encodeURIComponent('<%= u cookies[session_key_name] %>'),
				'authenticity_token': encodeURIComponent('<%= u form_authenticity_token %>')
				}
		});
	</script>
<% end %>

<%= form_for @profile do |f| %>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
	<% if @user.picture.nil? %>
		<p id="upload">
			<%= f.fields_for @picture do |pic| %>
	    	<%= pic.file_field :picture %>
			<% end %>
		</p>
		<p>	<%= submit_tag "Add picture", :id => "picture_submit" %>
		</p>
	<% else %>
		<%= image_tag @user.picture.picture.url(:small) %>
	<% end %>
	<div id="show_pic"></div>
	<div id="show_crop"></div>
	
  <p><%= f.submit %></p>
<% end %>