
<table>
  <tr>
    <th>Address</th>
  </tr>
  <% for profile in @profiles %>
    <tr>
      <td><%= profile.address %></td>
      <td><%= link_to "Show", profile %></td>
      <td><%= link_to "Edit", edit_profile_path(profile) %></td>
      <td><%= link_to "Destroy", profile, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Profile", new_profile_path %></p>
