<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <%= image_tag @user.picture.picture.url %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
