<% content_for :head do %>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" id="theme"> 
  <%= stylesheet_link_tag('jquery.fileupload-ui') %>
	<%= stylesheet_link_tag "jcrop" %>
<% end %>

<% content_for :scripts do%>
<script id="template_download" type="text/x-jquery-tmpl"><tr id="file_${key}">{{if error}}<td class="file_preview"></td><td colspan="2">{{= $item.locale.errors.file_exceeds_max_size}} (> {{= $item.formatFileSize($item.settings.max_file_size)}})</td><td class="file_delete"></td>{{else}}<td class="file_preview">{{if info.url}}<a href="/file-upload/download/${key}/{{html encodeURIComponent(info.filename)}}" target="_blank"><img src="${info.url}=s80"></a>{{/if}}</td><td class="filename"><a href="/file-upload/download/${key}/{{html encodeURIComponent(info.filename)}}"{{if info.url}} target="_blank"{{/if}}>{{= $item.formatFileName(info.filename)}}</a></td><td class="filesize">{{= $item.formatFileSize(info.size)}}</td><td class="file_delete"><button class="ui-state-default ui-corner-all ui-state-hover" title="{{= $item.locale.buttons.destroy}}"><span class="ui-icon ui-icon-trash"></span></button></td>{{/if}}</tr></script>
<script id="template_upload" type="text/x-jquery-tmpl"><tr class="{{html $item.getFileClass(type)}}"><td class="filename">{{= $item.formatFileName(name)}}</td><td class="filesize">{{= $item.formatFileSize(size)}}</td>{{if size > $item.settings.max_file_size}}<td colspan="2">{{= $item.locale.errors.file_exceeds_max_size}} (> {{= $item.formatFileSize($item.settings.max_file_size)}})</td>{{else}}<td class="file_upload_progress"><div></div></td><td class="file_upload_cancel"><div class="ui-state-default ui-corner-all ui-state-hover" title="{{= $item.locale.buttons.cancel}}"><span class="ui-icon ui-icon-cancel"></span></div></td>{{/if}}</tr></script>
<script id="template_confirm_delete" type="text/x-jquery-tmpl"><div class="confirm_delete" title="${dialogs.confirm.title}"><form><p>${dialogs.confirm.text}</p><button type="reset">${locale.buttons.cancel}</button><button>${locale.buttons.destroy}</button></form></div></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
	<%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui', 'file-upload', 'locale' %>
	<%= javascript_include_tag 'jcrop.min' %>
<script type="text/javascript" charset="utf-8">	
	function cropping_arrived() {
	  jQuery('#cropbox').Jcrop({
	  	onChange: update_crop,
	  	onSelect: update_crop,
			aspectRatio: 1,
			minSize: [100,100]
		});
	};
	// $(function () {
	//     $('.upload').fileUploadUI({
	//         uploadTable: $('.upload_files'),
	//         downloadTable: $('.download_files'),
	//         buildUploadRow: function (files, index) {
	//             var file = files[index];
	//             return $('<tr><td>' + file.name + '<\/td>' +
	//                     '<td class="file_upload_progress"><div><\/div><\/td>' +
	//                     '<td class="file_upload_cancel">' +
	//                     '<div class="ui-state-default ui-corner-all ui-state-hover" title="Cancel">' +
	//                     '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
	//                     '<\/div><\/td><\/tr>');
	//         },
	//         buildDownloadRow: function (file) {
	//             return $('<tr><td><img alt="Photo" width="40" src="' + file.pic_path + '">' + file.name + '<\/td><\/tr>');
	//         },
	// 				onComplete: function (event, files, index, xhr, handler) { 
	// 												$.ajax({
	// 													type: "GET",
	// 													url: "/remote/show_pic/",
	// 													success: function(data){
	// 														       cropping_arrived();
	// 													         }
	// 													});
	// 				}
	//     });
	// });
</script>
<script>$(function(){new Application({"max_file_size":5000000,"authenticity_token":{"name":"request_authenticity_token","value":"<%= session[:_csrf_token] %>"}},locale).initialize();});</script> 
<% end %>

<% [:info, :error].each do |key| %>
  <% if flash[key] %>
  <div class="<%= key %>" id="flash">
    <%= flash[key] %>
  </div>
  <% end %>
<% end %>
<div class="files"> 
	<%= form_for @upload, :html => { :class => "upload", :multipart => true } do |f| %>
			<%= f.file_field :picture %>
	  	<div>Upload files</div>
	<% end %>

	<table class="upload_files"></table>
	<table class="download_files"></table>
	<div id="show_pic"></div>
	<div id="show_crop"></div>
</div>

<% @uploads.each do |upload| %>
	<p><%= image_tag upload.picture.url(:thumb) %></p>
<% end %>
	