<!DOCTYPE html>
<html>
<head>
  <title>AjaxUpload</title>
  <%= csrf_meta_tag %>
	<%= stylesheet_link_tag('layout') %>
	<%= yield :head %>
</head>
<body>

<%= yield %>

</body>
  <%= yield :scripts %>
</html>
