<!DOCTYPE html>
<html>
<head>
  <title>AjaxUpload</title>
  <%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'scaffold' %>
	<%= yield :head %>
</head>
<body>

<%= yield %>

<%= yield :scripts %>
</body>
</html>
